* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

/* Navbar */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    max-width: 100px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: grey;
    font-weight: 1000;
    margin-left: 50px;
    text-decoration: none;
    transform: translateX(-10%);
}
header ul li a:hover {
    transform: translateY(-5px);
}


/* Content */
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 700px;
}
.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span {
    color: #293253/*#FFD55A*/; 
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p {
    color: #333;
}
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #998DE4/*#FFD55A*/; 
    color: white;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    padding-left: 50px;
    margin-top: 50px;
}
.content .imgBox img {
    max-width: 500px;
}

/* A effacer si besoin*/
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}
/* ------------------ */

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    /* Transforme Noir en Blanc*/
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #998DE4/*#FFD55A*/;
    /* Faire un cercle*/
    clip-path: circle(600px at right 900px);
}

.cursor {
    background: rgb(61, 61, 61);
    height: 10.5px;
    width: 10.5px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 100ms ease;
    z-index: 2;
    content: '';
    pointer-events: none;
}